################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BigGive/BigGive/Views/Home/Index.cshtml
*.v2
*.vsidx
*.cache
