################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BigGive/BigGive/Views/Home/Index.cshtml
*.v2
*.vsidx
*.cache
/BigGive/.vs/BigGive/config/applicationhost.config
/BigGive/.vs/BigGive/v17/.suo
/BigGive/BigGive/bin/Debug/net6.0/BigGive.dll
/BigGive/BigGive/bin/Debug/net6.0/BigGive.exe
/BigGive/BigGive/bin/Debug/net6.0/BigGive.pdb
/BigGive/BigGive/bin/Debug/net6.0/BigGive.staticwebassets.runtime.json
/BigGive/BigGive/obj/Debug/net6.0/ref/BigGive.dll
/BigGive/BigGive/obj/Debug/net6.0/refint/BigGive.dll
/BigGive/BigGive/obj/Debug/net6.0/staticwebassets/msbuild.BigGive.Microsoft.AspNetCore.StaticWebAssets.props
/BigGive/BigGive/obj/Debug/net6.0/BigGive.csproj.CoreCompileInputs.cache
/BigGive/BigGive/obj/Debug/net6.0/BigGive.dll
/BigGive/BigGive/obj/Debug/net6.0/BigGive.genruntimeconfig.cache
/BigGive/BigGive/obj/Debug/net6.0/BigGive.pdb
/BigGive/BigGive/obj/Debug/net6.0/staticwebassets.build.json
/BigGive/BigGive/obj/Debug/net6.0/staticwebassets.development.json
/BigGive/BigGive/obj/Debug/net6.0/staticwebassets.pack.json
