
@{
    ViewData["Title"] = "SubmitForm";
}

<div class="questionBlock">
    <label>Name: *</label>
    <input type="text"/>
</div>

<div class="questionBlock">
    <label>Which semester did you start at Texas A&M? *</label>
    <select class="input-lg" style="">
        <option value="0" style="color:#ccc !important;">
           Choose Option
        </option>
        <option value="1">Spring</option>
        <option value="2">Summer</option>
        <option value="3">Fall</option>
        <option value="4">Other</option>
    </select>
</div>